@font-face {
  font-family: 'Digital7';
  src: url('digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #2C3639;
    margin: 0;
      height: 100%;
}
html {
  height: 100%;
  margin: 0;
}
canvas {
    background: linear-gradient(to bottom, #ef745c, #34073d);
    width: 100vw;
    height: 75vh;
    position: absolute;
    z-index: 1;
}
/* Used to get rid of a gap under the canvas when its position is not absolute. */
#behindCanvas {
    height: 75vh;
}

#blackBar {
    height: 2vh;
    width: 100vw;
    background-color: #2C3639;
}

#salesbox{
    position: absolute;
    z-index: 2;
    display: flex;
    
}

#horzonBar {
    background-color: #2C3639;
    width: 1.2vw;
}

#verBar {
    background-color: #2C3639;

    height: 1.2vw;
}


#salesContainer {
    display: flex;
    flex-direction: column;

}

#salePrice {
    font-family: 'Digital7';
    color: #39FF14;
    display: flex;
    justify-content: center;
    background-color: #121414;

}

#saleTotal {
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

#bottomFlex {
    background-color: #85394b;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#change {
    font-size: 40px;
    font-family: 'Digital7';
    color: #39FF14;
    background-color: #121414;
    width: 15vw;
    height: 7vh;
    border: none;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#realBottom {
    display: grid;
    grid-template-columns: 21vw 16vw 20vw 16vw 19vw;
    gap: 1vw;
}

#enterChange {

  margin: 0;     
  margin-bottom: 2vh;      /* Remove default margin */
  padding: 0;          /* Optional: remove padding */
/* Include padding in total width if added */
}

#answer {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Optional styling */

    background-color: #DCD7C9;
    border: 2px solid #2C3639;
}
#correctAns {
        font-family: 'Digital7';
    color: #39FF14;
}
#answerBox {
    display: flex;
    justify-content: center;
    background-color: #121414;
    width: 100%;
}
#answerTitle {
    margin: 0;
}

#menu {
    position: absolute;

    z-index: 15550;
    margin-left: 92vw;
    margin-right: 2vw;
    width: 7vw;
    height: 10vh;
     background: transparent;
  border: none;
}

img {
    width: 100%;
    height: 100%;
}



#showingMenu {
        display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    display: flex;
    background-color: rgba(55, 9, 60, 0.6);;
    width: 30vw;
    margin-left: 70vw;
    height: 75vh;
    z-index: 900;
}

.menuOpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.sliderBox {
    display: flex;
}

#slider {
    margin-right: 1vw;
    margin-top: 1vh;
}

#bigFlex {
    display: flex;
    justify-content: center;
    height: 22vh;
}

h1 {
    font-size: 4vh;
}

@media (max-height: 575px) {

    h1 {
        font-size: 5vh;
    }
}
@media (max-width: 835px) {



    #bigFlex {
        height: 20vh;
    }

    h1 {
        font-size: 4vw;
    }
}
